#define DEFAULT 0
#define SYM     1
#define FUN     2

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Layer0 {
            label = "MAIN";
            bindings = <
&kp ESC         &kp N1        &kp N2        &kp N3  &kp N4  &kp N5                                 &kp N6                &kp N7        &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB         &kp Q         &kp W         &kp E   &kp R   &kp T                                  &kp Y                 &kp U         &kp I      &kp O     &kp P     &kp LEFT_BRACKET
&kp CAPSLOCK    &kp A         &kp S         &kp D   &kp F   &kp G                                  &kp H                 &kp J         &kp K      &kp L     &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C   &kp V   &kp B      &lt 0 BACKSPACE  &trans     &kp N                 &kp M         &kp COMMA  &kp DOT   &kp FSLH  &kp INT_RO
&kp LCTRL       &kp LEFT_WIN  &kp LEFT_ALT  &to 3   &mo 1   &kp SPACE  &mo 2            &kp ENTER  &mt LEFT_SHIFT SPACE  &kp INT_KANA  &kp LEFT   &kp DOWN  &kp UP    &kp RIGHT
            >;
        };

        Layer1 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans                   &trans         &trans    &trans          &trans      &kp EQUAL  &kp INT_YEN
&trans      &kp F1        &kp F2        &kp F3        &kp F4  &kp F5                   &kp PG_UP      &kp HOME  &kp UP_ARROW    &kp END     &trans     &kp RBKT
&trans      &kp F6        &kp F7        &kp F8        &kp F9  &kp F10                  &kp PAGE_DOWN  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT   &kp ENTER  &kp NUHS
&trans      &kp F11       &kp F12       &trans        &trans  &trans   &trans  &trans  &trans         &trans    &kp BACKSPACE   &kp DELETE  &trans     &trans
&trans      &trans        &trans        &trans        &trans  &trans   &trans  &trans  &trans         &kp INT5  &trans          &trans      &trans     &trans
            >;

            label = "LAYER1";
        };

        Layer2 {
            label = "LAYER2";
            bindings = <
&soft_off  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT                  &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans     &trans           &trans        &trans        &trans        &trans                       &trans          &trans         &trans            &trans                &trans                 &trans
&trans     &bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans                       &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &trans                 &trans
&trans     &trans           &trans        &trans        &trans        &trans       &trans  &trans  &kp UNDERSCORE  &kp PLUS       &trans            &trans                &trans                 &trans
&trans     &trans           &trans        &trans        &trans        &trans       &trans  &trans  &trans          &trans         &trans            &trans                &trans                 &trans
            >;
        };

        VideoEdit1 {
            bindings = <
&kp LS(ESCAPE)  &trans  &trans     &trans     &trans    &trans                         &kp ESCAPE  &trans        &trans          &trans         &trans         &trans
&kp LS(Z)       &trans  &kp HOME   &trans     &kp END   &kp BACKSPACE                  &trans      &kp LC(D)     &kp SPACE       &kp ENTER      &kp LS(ENTER)  &trans
&kp LEFT_ALT    &trans  &kp UP     &trans     &kp DOWN  &trans                         &kp RBKT    &kp LC(LEFT)  &kp DEL         &kp LC(RIGHT)  &kp NUHS       &trans
&kp LSHIFT      &trans  &kp LC(H)  &kp LC(R)  &trans    &trans         &trans  &trans  &kp N       &kp LEFT      &msc SCRL_DOWN  &kp RIGHT      &kp END        &trans
&kp LCTRL       &trans  &trans     &to 0      &trans    &kp SPACE      &trans  &trans  &mo 4       &trans        &trans          &trans         &trans         &trans
            >;

            label = "VE";
        };

        VideoEdit2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans           &trans        &trans    &trans         &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans           &trans        &trans    &trans         &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LS(PAGE_UP)  &kp RS(LEFT)  &kp UP    &kp LS(RIGHT)  &kp LS(PAGE_DOWN)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &kp PAGE_UP   &kp DOWN  &kp PAGE_DOWN  &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans        &trans    &trans         &trans             &trans
            >;

            label = "VE2";
        };
    };
};
